@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Used in body background */
    --foreground: 0 0% 3.9%; /* Used in body text */
    --card: 0 0% 100%; /* Used in card components */
    --card-foreground: 0 0% 3.9%; /* Used in card text */
    --popover: 0 0% 100%; /* Used in popover components */
    --popover-foreground: 0 0% 3.9%; /* Used in popover text */
    --primary: 156.21, 79.82%, 42.75%; /* Used in buttons and primary text */
    --primary-foreground: 0 0% 98%; /* Used in primary button text */
    --secondary: 0 0% 96.1%; /* Used in secondary buttons */
    --secondary-foreground: 0 0% 9%; /* Used in secondary button text */
    --muted: 0 0% 96.1%; /* Used in muted text or disabled states */
    --muted-foreground: 0 0% 45.1%; /* Used in muted text */
    --accent: 0 0% 96.1%; /* Used in accent elements */
    --accent-foreground: 0 0% 9%; /* Used in accent text */
    --destructive: 0 84.2% 60.2%; /* Used in destructive actions (e.g., delete buttons) */
    --destructive-foreground: 0 0% 98%; /* Used in destructive action text */
    --border: 0 0% 89.8%; /* Used in borders */
    --input: 0 0% 89.8%; /* Used in input fields */
    --ring: 0 0% 3.9%; /* Used in focus rings */

    --radius: 0.5rem; /* Used for border-radius */
  }
  .dark {
    --background: 0 0% 3.9%; /* Used in body background (dark mode) */
    --foreground: 0 0% 98%; /* Used in body text (dark mode) */
    --card: 0 0% 3.9%; /* Used in card components (dark mode) */
    --card-foreground: 0 0% 98%; /* Used in card text (dark mode) */
    --popover: 0 0% 3.9%; /* Used in popover components (dark mode) */
    --popover-foreground: 0 0% 98%; /* Used in popover text (dark mode) */
    --primary: 156.21, 79.82%, 42.75%; /* Used in buttons and primary text (dark mode) */
    --primary-foreground: 0 0% 9%; /* Used in primary button text (dark mode) */
    --secondary: 0 0% 14.9%; /* Used in secondary buttons (dark mode) */
    --secondary-foreground: 0 0% 98%; /* Used in secondary button text (dark mode) */
    --muted: 0 0% 14.9%; /* Used in muted text or disabled states (dark mode) */
    --muted-foreground: 0 0% 63.9%; /* Used in muted text (dark mode) */
    --accent: 0 0% 14.9%; /* Used in accent elements (dark mode) */
    --accent-foreground: 0 0% 98%; /* Used in accent text (dark mode) */
    --destructive: 0 62.8% 30.6%; /* Used in destructive actions (dark mode) */
    --destructive-foreground: 0 0% 98%; /* Used in destructive action text (dark mode) */
    --border: 0 0% 14.9%; /* Used in borders (dark mode) */
    --input: 0 0% 14.9%; /* Used in input fields (dark mode) */
    --ring: 0 0% 83.1%; /* Used in focus rings (dark mode) */
  }
}

@layer base {
  * {
    @apply border-border; /* Applies border color */
  }
  body {
    @apply bg-background text-foreground; /* Applies background and text color */
  }
}
